body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

/* i {
  color: #0563bb;
  text-decoration: none;
}
i:hover {
  color: #067ded;
  text-decoration: none;
} */

h1,
h2,
h3,
h4,
h6 {
  font-family: "Raleway", sans-serif;
}

/* hero Section Start  */

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 120px;
  }
}

#hero::before {
  content: "";
  background: rgba(255, 255, 255, 0.506);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 55px;
  color: #44505b;
}

#hero p {
  color: #44505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #0563bb;

  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #0563bb;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #0563bb;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 19px;
    line-height: 24px;
  }
}

/* hero end */

/* footer start */

#footer {
  background: #f7f8f7;
  color: #45505b;
  font-size: 16px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 37px;
  font-weight: 700;
  position: relative;
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #067de3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

/******************** footer end ***********************/

/****************** header start *********************/

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/***********header end***************/

/***********navigation menu start***************/
nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  white-space: nowrap;
  position: relative;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #44505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #b0caff;
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/***********navigation menu end***************/

/*********Mobile navigation start************/

.mobile-nav-toggle {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 9999;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.3s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #44505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active,
.mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}

/***********general section start****************/

section {
  padding: 50px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5vh;
  color: #067ded;
}

.section-title p {
  margin-bottom: 35px;
}

/***********general section end****************/

/************ about us start  **********/

.about .content h3 {
  font-size: 25px;
  color: #728394;
  font-weight: 700;
  text-transform: capitalize;
}

.about .content ul {
  padding: 0;
  list-style: none;
}

.about .content ul li {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.about .content ul strong {
  margin-right: 8px;
  display: inline-block;
}

.about .content ul i {
  font-size: 26px;
  margin-right: 6px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/* fact  section start */
.fact .count-box {
  padding: 40px;
  margin-top: 40px;
  width: 100%;
  position: relative;
  background: #f9f9f9;
  text-align: center;
}

.fact .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  color: #fff;
  background: #0563bb;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.fact .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #44505b;
  line-height: 40px;
}

.fact .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}

.purecounter {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0563bb;
}

/* skills start */

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-size: small;
  font-family: "Roboto Slab", serif;
  color: #44505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #b3b3b3;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}

/* Resume  start */

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #eceff1;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 19px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #728394;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

/* portfolio start  */

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #cfdfff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #728394;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfoliocategories li.filter-active {
  color: #067ded;
}

.portfolio #portfoliocategories li.resume-item:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 10%;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #0563bb;
  border-left: 3px solid #0563bb;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-link p {
  color: #44505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-link a:hover {
  color: #728394;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
